<div class="row">
  <h3><strong>会員一覧画面</strong></h3>
  <div class="col-xs-8 col-xs-offset-2">
    <table class="table">
      <thead>
        <tr class="active">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @end_users.each do |end_user| %>
        <tbody>
          <tr>
            <td><%= end_user.id %></td>
            <td><%= link_to end_user.last_name + end_user.first_name, admin_end_user_path(end_user) %></td>
            <td><%= end_user.email %></td>
            <% unless end_user.deleted_at? %>
              <td>有効</td>
            <% else %>
              <td>退会済</td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>